<div class="container">
  <div class="d-flex justify-content-center mt-2">
    <div class="col-3">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="text-center mb-4">
          <h1 class="mb-3">Sign Up</h1>
        </div>
        <app-text-input
          [formControl]="registerForm.controls['displayName']"
          [label]="'Display Name'"
        ></app-text-input>

        <app-text-input
          [formControl]="registerForm.controls['email']"
          [label]="'Email Address'"
        >
        </app-text-input>

        <app-text-input
          [formControl]="registerForm.controls['phoneNumber']"
          [label]="'Phone Number'"
        >
        </app-text-input>

        <app-text-input
          [formControl]="registerForm.controls['password']"
          [type]="'password'"
          [label]="'Password'"
        ></app-text-input>

        <app-text-input
          [formControl]="registerForm.controls['confirmPassword']"
          [type]="'password'"
          [label]="'Confirm Password'"
        ></app-text-input>

        <ul class="text-danger list-unstyled" *ngIf="errors">
          <li *ngFor="let error of errors">
            {{ error }}
          </li>
        </ul>
        <div class="d-grid">
          <button
            [disabled]="
              registerForm.invalid || password?.value != confirmPassword?.value
            "
            class="btn btn-lg btn-warning mt-3"
          >
            Sign Up
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
