<carousel [isAnimated]="true">
  <slide>
    <img
      src="assets/images/image1.jpg"
      alt="slide"
      style="display: block; width: 100%"
    />
  </slide>

  <slide>
    <img
      src="assets/images/image2.jpg"
      alt="slide"
      style="display: block; width: 100%"
    />
  </slide>

  <slide>
    <img
      src="assets/images/image3.jpg"
      alt="slide"
      style="display: block; width: 100%"
    />
  </slide>
</carousel>

<Section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>Welcome to the Grocery Store</h1>
  </div>
  <div class="container">
    <div
      class="mb-5 container mx-5"
      *ngIf="(accountService.currentUsers$ | async)?.isAdmin as user"
      class="cart-no"
    >
      <h1>This is the Admin Page</h1>
      <button
        class="btn btn-lg btn-outline-primary mb-5"
        (click)="open(content)"
      >
        Add Products
      </button>

      <div class="container"></div>
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let product of products" class="mb-3">
          <td style="display: none">{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>
            <button
              type="button"
              class="bg-secondary border-0 px-3 rounded-pill"
              (click)="onUpdate(product.id, contentUpdate)"
            >
              Edit
            </button>
          </td>
          <td>
            <button
              type="button"
              class="bg-danger border-0 px-3 rounded-pill"
              (click)="onDelete(product.id)"
            >
              Delete
            </button>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea
            class="form-control"
            id="description"
            formControlName="description"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input
            type="number"
            class="form-control"
            id="price"
            formControlName="price"
            required
          />
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL:</label>
          <input
            type="file"
            class="form-control"
            id="imageUrl"
            formControlName="imageUrl"
            required
          />
        </div>
        <div class="form-group">
          <label for="productCategoryId">Product Category ID:</label>
          <input
            type="number"
            class="form-control"
            id="productCategoryId"
            formControlName="productCategoryId"
            required
          />
        </div>
        <div class="form-group">
          <label for="availableQuantity">Available Quantity:</label>
          <input
            type="number"
            class="form-control"
            id="availableQuantity"
            formControlName="availableQuantity"
            required
          />
        </div>
        <div class="form-group">
          <label for="discount">Discount:</label>
          <input
            type="number"
            class="form-control"
            id="discount"
            formControlName="discount"
            required
          />
        </div>
        <div class="form-group">
          <label for="specification">Specification:</label>
          <textarea
            class="form-control"
            id="specification"
            formControlName="specification"
            required
          ></textarea>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Save
      </button>
    </div>
  </ng-template>

  <ng-template #contentUpdate let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Update Product</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="productForm" (ngSubmit)="onEdit(id)">
        <div class="form-group">
          <label for="name">Name:</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="productById.name"
            formControlName="name"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea
            class="form-control"
            id="description"
            [(ngModel)]="productById.description"
            formControlName="description"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <label for="price">Price:</label>
          <input
            type="number"
            class="form-control"
            [(ngModel)]="productById.price"
            id="price"
            formControlName="price"
            required
          />
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL:</label>
          <input
            type="file"
            class="form-control"
            id="imageUrl"
            [(ngModel)]="productById.imageUrl"
            formControlName="imageUrl"
            required
          />
        </div>
        <div class="form-group">
          <label for="productCategoryId">Product Category ID:</label>
          <input
            type="number"
            class="form-control"
            id="productCategoryId"
            [(ngModel)]="productById.productCategory"
            formControlName="productCategoryId"
            required
          />
        </div>
        <div class="form-group">
          <label for="availableQuantity">Available Quantity:</label>
          <input
            type="number"
            class="form-control"
            id="availableQuantity"
            [(ngModel)]="productById.availableQuantity"
            formControlName="availableQuantity"
            required
          />
        </div>
        <div class="form-group">
          <label for="discount">Discount:</label>
          <input
            type="number"
            class="form-control"
            id="discount"
            [(ngModel)]="productById.discount"
            formControlName="discount"
            required
          />
        </div>
        <div class="form-group">
          <label for="specification">Specification:</label>
          <textarea
            class="form-control"
            id="specification"
            [(ngModel)]="productById.specification"
            formControlName="specification"
            required
          ></textarea>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update</button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Close
          </button>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close('Save click')"
      >
        Update
      </button>
    </div>
  </ng-template>

  <hr />
</Section>
